// Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors,
// pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is
// on the page, it should look like this.

// The base rules should not include class- or ID-selectors, just the base elements.

// Base
// ==========================================================================

html { font-size: 62.5%; }

body {
  background: url(../images/bg/bg-texture.jpg);
  color: $color-text;
  font-family: $font;
  font-size: 12px; font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto;

  // Show layout labels when in development mode
  @if $development == true {
    &::before {
      @include border-bottom-right-radius(10px);
      background: rgba(#000, .2);
      display: block;
      content: 'layout-s (implicit)';
      padding: 10px;
      position: absolute;
        top: 0;
        left: 0;
      text-shadow: 1px 1px 0 rgba(#fff, 0.75);
      @include at-breakpoint($layout-m) {   content: "layout-m"; }
      @include at-breakpoint($layout-l) {   content: "layout-l"; }
      @include at-breakpoint($layout-xl) {  content: "layout-xl (with IE fallback)"; }
      @include at-breakpoint($layout-xxl) { content: "layout-xxl"; }
    }
  }
}

.grid-toggle {
  @include border-bottom-left-radius(10px);
  background: rgba(#000, .2);
  padding: 10px;
  position: absolute;
    top: 0;
    right: 0;
}
