// Settings, variables and mixins for this particular project.
//
// e.g. $color-alert-background: #f00;

// Turns on grid and breakpoint gauge
$development: true; // true, false

// ---------------------------------------------------------------------------
// Susy grid settings

// Breakpoints (minimum widths!)
$bp-s-m:    400px;
$bp-m-l:    481px;
$bp-l-xl:   769px;
$bp-xl-xxl: 1000px;

// Columns
$cols-s:   1;
$cols-m:   4;
$cols-l:   8;
$cols-xl:  12;
$cols-xxl: 12;

// Layouts
// $layout-s is not necessary due to a mobile-first approach
$layout-ie-fallback: "lt-ie9";

$layout-m:   join($bp-s-m, $cols-m);
$layout-l:   join(($bp-m-l, $cols-l), $layout-ie-fallback); // Layout with IE fallback
$layout-xl:  join($bp-l-xl, $cols-xl);
$layout-xxl: join($bp-xl-xxl, $cols-xxl);

// Store all layouts for this project
$layouts: $layout-m $layout-l $layout-xl $layout-xxl;

// Default grid settings
$total-columns: $cols-s;
$column-width: 60px;
$gutter-width: 30px;
$grid-padding: $gutter-width / 3;

// $container-style: magic; // "static", "fluid", "magic"

// ---------------------------------------------------------------------------
// Variables

// $base-font-size: 12; // Should be magicked, booyah!

// Colors
$color-text: #505050;
$color-text-faded: lighten($color-text, 30%);
$color-display: #353535;
$color-selection: #fff;
$color-selection-bg: rgba(0,0,0,.6);

$color-border: #aaa;

$color-interactive: #d74340; // faded red

$color-link: $color-interactive;
$color-link-hover: lighten($color-link, 15%);

// ---------------------------------------------------------------------------
// Sprites

$icons: sprite-map("icons/*.png",
  $icons-right-arrow-spacing: 50px
);

// ---------------------------------------------------------------------------
// Browser prefixes and CSS support

// $experimental-support-for-mozilla:  false;
// $experimental-support-for-webkit:     false;
// $experimental-support-for-opera:    false;
// $experimental-support-for-microsoft: false;
// $experimental-support-for-khtml:    false;

// $support-for-original-webkit-gradients: false;


// // Custom mixin (wrapper) for generating Susy grid backgrounds
// @mixin grid-background {
//  @include susy-grid-background;

//  @include each-layout {
//    @include susy-grid-background;
//  }
// }

// // Check for development flag and show grid if set to true
// @mixin show-grid-if-enabled {
//  @if $development == true {
//    @include grid-background;
//  }
// }
